body {
	min-width: 300px;
	overflow-x: hidden;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
	
h1 {
	font-size: 16px;
	border-bottom: 1px solid #22407B;
	color: #22407B;
	padding-bottom: 5px;
}

h2 {
	font-size: 14px;
	color: #22407B;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
	line-height: 150%;
}
	
a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}